:root , ::after , ::before{
    --color-primary: #E63946;
    --color-secondary: #F1FAEE;
    --color-ternary: #A8DADC;
    --color-quaternary: #457B9D;
    --color-quinary: #1D3557;
    --color-text-gray: #212F3D;
}