:root,
::after,
::before {
  --color-primary: #e63946;
  --color-secondary: #f1faee;
  --color-ternary: #a8dadc;
  --color-quaternary: #457b9d;
  --color-quinary: #1d3557;
  --color-text-gray: #212f3d;
}
